<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://acdc-pollution.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/baff7dad-204c-4df1-8955-a62b0af2c7f1/resourceGroups/ACDC2022/providers/Microsoft.Web/sites/ACDC-Pollution</ResourceId>
    <UserName>$ACDC-Pollution</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://acdc-pollution.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>