<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://pollution-af.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/4e56c481-0918-4799-93e9-391106ce9d6a/resourceGroups/ACDC2022/providers/Microsoft.Web/sites/Pollution-AF</ResourceId>
    <UserName>$Pollution-AF</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://pollution-af.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>